body {
    font-family: Roboto;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
  }

  .content-wrapper {
    max-width: 1200px; /* Adjust this value based on your preference */
    width: 100%; /* Takes full width up to the max-width */
  }
  

  .header, .container-one {
    padding-left: 10%; /* Adjust percentage as needed */
    padding-right: 10%; /* Adjust percentage as needed */
    background-color: #1f2937;
    width: 100%;
    box-sizing: border-box; /* Makes sure padding is included in width */
  }


  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 100px;
    margin: 0;
    background-color: #1f2937;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    text-decoration: none;
  }

  .left-head a {
    font-size: 24px;
    color: #F9FAF8;
  }

  .right-links a {
    font-size: 18px;
    color: #e5e7eb;
  }
 
.container-one {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 100px;
    margin: 0;
    background-color: #1f2937;
}


  .sectionone-left
  .sectionone-right {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    background-color: #1f2937;
    padding: 50px 16px;
    flex: 1;
}


.header2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}

.text2 {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.sign-up {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-placeholder {
  width: 450px;
  height: 230px;
  background-color: darkolivegreen;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}