body {
    font-family: Roboto;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
  }

  .content-wrapper {
    max-width: 1200px; /* Adjust this value based on your preference */
    width: 100%; /* Takes full width up to the max-width */
  }
  

  .header, .container-one {
    padding-left: 10%; /* Adjust percentage as needed */
    padding-right: 10%; /* Adjust percentage as needed */
    background-color: #1f2937;
    width: 100%;
    box-sizing: border-box; /* Makes sure padding is included in width */
  }


  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 100px;
    margin: 0;
    background-color: #1f2937;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    text-decoration: none;
  }

  .left-head a {
    font-size: 24px;
    color: #F9FAF8;
  }

  .right-links a {
    font-size: 18px;
    color: #e5e7eb;
  }
 
.container-one {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 100px;
    margin: 0;
    background-color: #1f2937;
}


  .sectionone-left
  .sectionone-right {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    background-color: #1f2937;
    padding: 50px 16px;
    flex: 1;
}


.header2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}

.text2 {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.sign-up {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-placeholder {
  width: 450px;
  height: 230px;
  background-color: darkolivegreen;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

.container-two {
  padding-left: 10%; /* Adjust percentage as needed */
  padding-right: 10%; /* Adjust percentage as needed */
  background-color: white;
  width: 100%;
  box-sizing: border-box; /* Makes sure padding is included in width */
  flex-direction: column;
  display: flex;
  padding-bottom: 100px;
}

.header3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 36px;
  margin-top: 36px;
  display: flex;
  justify-content: center;

}

.boxes-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.box-item {
  width: 180px;
  text-align: center;
}

.box {
  width: 160px;
  height: 160px;
  border: 4px solid #3882F6;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 8px;
}

.box-text {
  color: #1f2937;
  font-size: 18px;
  margin-top: 8px;
  max-width: 160px;
  margin-bottom: 8px;
}

.container-three {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  text-align: start; /* Ensure text is centered */
  background-color: #e5e7eb;
  padding-bottom: 100px;
  padding-top: 100px;
}

.text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  max-width: 800px; /* Control the width of the text */
  margin-bottom: 20px;
}

.author-tag {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  max-width: 800px; /* Control the width of the text */
  text-align: end;
}

.container-four {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  background-color: white;
  padding-bottom: 100px;
  padding-top: 100px;
}